/* CSS Variables (or CSS Custom Properties) are case sensitive. They are 
   resolved with the normal inheritance and cascade rules, can be used 
   everywhere except for selectors, property names, or media query 
   declarations and can also be reassigned or set to: 
inherit
   This keyword applies the value of the element’s parent, whether that 
   makes sense or not. Some CSS properties, such as color or font-family, 
   are automatically inherited, but others, such as display or margin, 
   aren’t. The inherit keyword should work on all CSS properties, though. 
initial
   This keyword applies the initial value as defined in the CSS 
   specifications. Sometimes this initial value makes sense (float: none), 
   sometimes it’s there for historical reasons (background-repeat: 
   repeat), and sometimes the spec writers made an essentially 
   random-though-somewhat-defensible choice (color: black). 
unset
   This keyword applies the inherited value if the property is normally 
   inherited (such as color), or the initial value if the property is 
   normally not inherited (such as display). */
div {
	--primary-color: #ff0000;
}
div.test {
	color: var(--primary-color);
	--secondary-color: var(--primary-color);
	--other-color: initial;/* RESETS VALUE */
	--my-border: inherit;/* DOESN'T CHANGE ANYTHING, AS INHERITED BY DEFAULT */
	
	
}

/* Use :root for a 'global' variable because the :root selector targets the highest-level element */
:root {
	--primary-color: red;
}
.test {
	background-color: var(--primary-color);
}

/* var() can't do math, instead use calc() whose operators must be surrounded by whitespaces */
.margin {
	--font-size-factor: 2.5;
	font-size: var(--font-size-factor)em; 			/* this is wrong!! */
	font-size: calc(var(--font-size-factor) * 1em);	/* OK */
	 
	--space: 20px * 2;								/* this is wrong!! */
	--space: calc(20px * 2);						/* OK */
	font-size: var(--space);
}

/* Fallback */
.component .header {
	color: blue;						/* for browsers not supporting css variables (like IE11) */
	color: var(--header-color, blue);	/* if header-color isn't set, use the blue fallback value */
}

/* It's possible to define CSS variables in the HTML style attribute to use them in the CSS */
<div class="gradient" style="--color: red"></div>
<div class="gradient" style="--color: yellow"></div>

.gradient {
    width: 100%;
    height: 100px;
    background: linear-gradient(to bottom, var(--color), blue);
}

/* Conditional styling */
:root {
	--gutter: 10px;
}
@media screen and (min-width: 768px) {
    --gutter: 30px;
}

:root {
    --is-big: 0;
}
.is-big {
    --is-big: 1;
}
.block {
    padding: calc(
        25px * var(--is-big) +
        10px * (1 - var(--is-big))
    );
    border-width: calc(
        3px * var(--is-big) +
        1px * (1 - var(--is-big))
    );
}

/* Alert if CSS variables are not supported */
body:before {
	position: fixed;
	text-align: center;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	font-size: 36px;
	line-height: 54px;
	color: #ffffff;
	background: #ff0000;
	content: 'This browser is no longer supported';
}
@supports (--css: variables) {
	body:before {
		content: '';
	}
}

/* Javascript get */
var root = document.querySelector(':root');
var rootStyles = getComputedStyle(root);
var mainColor = rootStyles.getPropertyValue('--main-color');

/* Javascript set */
root.style.setProperty('--main-color', '#88d8b0');


/* Invalid Variables

A declaration can be invalid at computed-value time if it contains a 
var() that references a custom property with its initial value, or if it 
uses a valid custom property, but the property value, after substituting 
its var() functions, is invalid. When this happens, the computed value 
of the property is either the property’s inherited value or its 
initial value depending on whether the property is inherited or not, 
respectively, as if the property’s value had been specified as the 
unset keyword: 

:root { --not-a-color: 20px; }
p { background-color: red; }
p { background-color: var(--not-a-color); }

the <p> elements will have transparent backgrounds (the initial value for 
background-color), rather than red backgrounds. The same would happen if 
the custom property itself was unset, or contained an invalid var() 
function. 

Note the difference between this and what happens if the author had just 
written background-color: 20px directly in their stylesheet - that would 
be a normal syntax error, which would cause the rule to be discarded, so 
the background-color: red rule would be used instead. 

Note: The invalid at computed-value time concept exists because 
variables can’t "fail early" like other syntax errors can, so by the 
time the user agent realizes a property value is invalid, it’s already 
thrown away the other cascaded values. */
