* {
	margin: 0;
	padding: 0;
}

body {
	text-align: center;
	background-color: aqua;
}

div#wrap {
	width: 800px;
	margin: 0 auto;
	background-color: gray;
	background: gray url('background.GIF') repeat-y 0 0;
}

div#left {
	text-align: left;
	width: 98px;
	float: left;
	border: 1px white dotted;
	background-color: red;
}

div#right {
	text-align: left;
	width: 198px;
	float: left;
	border: 1px white dotted;
	background-color: blue;
}
div#footer {
	clear: both;
}